<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<h1 class="text-center">Good Morning, Carl</h1>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<img ng-click="nextComment()" class="pull-left img-circle" ng-src="{{ comment.image_url }}" style="width: 150px; margin-right: 12px; "/>
		<blockquote class="pull-left">
			{{ comment.comment }}
			<footer>{{ comment.name }}</footer>
		</blockquote>
	</div><!-- /col -->	
</div><!-- /row -->


<div class="text-right text-muted">
	<i class="fa fa-comment-o" ng-click="quoteHint = true" ng-hide="quoteHint"></i>
</div>

<div ng-show="quoteHint" ng-click="quoteHint = false">
	
	<br />

	<div style="background-color:black; font-size: 45px; color: white; text-align: center; " >
		<p>Write Carl an inspiring message
		tinyurl.com/zz4872z</p>
	</div>
</div>

<hr />


<style type="text/css" media="screen">
.progress { margin-top: 7px; }
</style>
<h2>My Progress</h2>
<div class="row">
	<div class="col-xs-3">
		<div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95" style="width: 95%;">
		    95%
		  </div>
		</div>
		
	</div><!-- /col -->
	<div class="col-xs-9">
		<div class="">My medication adherence has been <b>excellent</b> for the past 3 days</div>
	</div><!-- /col -->
	
</div><!-- /row -->

<div class="row">
	<div class="col-xs-3">
		<div class="progress">
		  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="82" style="width: 82%;">
		    82%
		  </div>
		</div>
		
	</div><!-- /col -->
	<div class="col-xs-9">
		<div class="">My blood pressure has been <b>good</b> for the past 3 days</div>
	</div><!-- /col -->
	
</div><!-- /row -->


<div class="row">
	<div class="col-xs-3">
		<div class="progress ">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60" style="width: 60%;">
		    60%
		  </div>
		</div>
		
	</div><!-- /col -->
	<div class="col-xs-9">
		<div class="">I should work on taking a walk for 30 minutes each day</div>
	</div><!-- /col -->
	
</div><!-- /row -->



<hr />
<h2>Today's To Do List</h2>
<p><i class="fa fa-circle-o"></i> Go for a walk</p>
<p><i class="fa fa-circle-o"></i> Go for another walk</p>

<hr />
<h2>My Schedule</h2>
<table class="table">
	<tr>
		<th></th>
		<th class="text-center">8AM</th>
		<th class="text-center">NOON</th>
		<th class="text-center">8PM</th>
	</tr>
	<tr>
		<td>Aspirin 
			<span class="text-muted">81mg daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
		<td class="text-center">
		</td>
	</tr>
	<tr>
		<td>Atorvastatin 
			<span class="text-muted">40mg daily</span>
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
	</tr>
	<tr>
		<td>Apixaban 
			<span class="text-muted">2.5mg twice daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">

		</td>
		<td class="text-center">
		</td>
	</tr>
</table>


