<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<h1 class="text-center">Good Morning, Betty</h1>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<img ng-click="nextComment()" class="pull-left img-circle" ng-src="{{ comment.image_url }}" style="width: 150px; margin-right: 12px; "/>
		<blockquote class="pull-left">
			{{ comment.comment }}
			<footer>{{ comment.name }}</footer>
		</blockquote>
	</div><!-- /col -->	
</div><!-- /row -->


<hr />
<h2>My Progress</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="90" style="width: 90%;">
    90%
  </div>
</div>
<p>I have taken 90% of my medications for the past 3 days</p>

<hr />
<h2>Today's To Do List</h2>
<p><i class="fa fa-circle-o"></i> Go for a walk</p>
<p><i class="fa fa-circle-o"></i> Go for another walk</p>

<hr />
<h2>My Schedule</h2>
<table class="table">
	<tr>
		<th></th>
		<th class="text-center">8AM</th>
		<th class="text-center">NOON</th>
		<th class="text-center">8PM</th>
	</tr>
	<tr>
		<td>Aspirin 
			<span class="text-muted">81mg daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
		<td class="text-center">
		</td>
	</tr>
	<tr>
		<td>Atorvastatin 
			<span class="text-muted">40mg daily</span>
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
	</tr>
	<tr>
		<td>Apixaban 
			<span class="text-muted">2.5mg twice daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">

		</td>
		<td class="text-center">
		</td>
	</tr>
</table>


