<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<h1 class="text-center">Good Morning, Betty</h1>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<img class="pull-left" ng-src="/mugshot-zack.png" style="width: 150px; margin-right: 12px; "/>
		<blockquote>
			You have been doing well with your exercise, but please remember to take your noontime medications.
			<footer>Zack</footer>
		</blockquote>
	</div><!-- /col -->

	
</div><!-- /row -->


<table class="table">
	<tr>
		<th></th>
		<th class="text-center">8AM</th>
		<th class="text-center">NOON</th>
		<th class="text-center">8PM</th>
	</tr>
	<tr>
		<td>Aspirin 
			<span class="text-muted">81mg daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
		<td class="text-center">
		</td>
	</tr>
	<tr>
		<td>Atorvastatin 
			<span class="text-muted">40mg daily</span>
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
		</td>
		<td class="text-center">
			<i class="fa fa-circle-o"></i>
		</td>
	</tr>
	<tr>
		<td>Apixaban 
			<span class="text-muted">2.5mg twice daily</span>
		</td>
		<td class="text-center">
			<i class="fa fa-check-circle"></i>
		</td>
		<td class="text-center">

		</td>
		<td class="text-center">
		</td>
	</tr>
</table>


