<!DOCTYPE html>
<html>
<head>
  <title>BoardRound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%#  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%# javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js" %>
	
  <%= csrf_meta_tags %>
</head>
<body>


	<nav class="navbar navbar-inverse navbar-fixed-bottom">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display  -->
	    <div class="xnavbar-header text-center">
		<%# 
			not using navbar-header class because it causes odd float left behavior at width > 768 
		
		%>

			<a href="#" class="btn btn-link navbar-btn" style="width: 30%; border-right: 1px solid gray; "><i class="fa fa-home"></i></a>
			<a href="#" class="btn btn-link navbar-btn" style="width: 30%; border-right: 1px solid gray; "><i class="fa fa-lightbulb-o"></i></a>
			<a href="#" class="btn btn-link navbar-btn" style="width: 30%; "><i class="fa fa-line-chart"></i></a>
	    </div>

		
	  </div><!-- /.container-fluid -->
	</nav>



	
<%= yield %>

</body>
</html>
