<!DOCTYPE html>
<html>
<head>
  <title>BoardRound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%#  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%# javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js" %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="pull-right" style="padding:12px; ">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
			<i class="fa fa-question-circle-o"></i>
		</button>
	</div>
	

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Help</h4>
	      </div>
	      <div class="modal-body">
	        Please call 1-800-2-SMART
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display  -->
	    <div class="xnavbar-header text-center">
		<%# 
			not using navbar-header class because it causes odd float left behavior at width > 768 
		
		%>

			<a href="/#" class="btn btn-link navbar-btn" style="font-size: 1.2em; width: 30%; border-right: 1px solid gray; "><i class="fa fa-home"></i></a>
			<a href="/#/patients/1/medications" class="btn btn-link navbar-btn" style="font-size: 1.2em; width: 30%; border-right: 1px solid gray; "><i class="fa fa-lightbulb-o"></i></a>
			<a href="/#/patients/1/performance" class="btn btn-link navbar-btn" style="font-size: 1.2em; width: 30%; "><i class="fa fa-line-chart"></i></a>
	    </div>

		
	  </div><!-- /.container-fluid -->
	</nav>



	
<%= yield %>

</body>
</html>
